%br/
.jumbotron
  %h1 Blocmetrics
  %p Blocmetrics is an analytics service analytics service which:

  %p 1. enables users to track events on their website

  %p 2. captures those events to a database via a server-side API

  %p 3. displays the event data

